<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
</head>

<body class="">

	<div id="pantalla">
		<div id="contenedor">



			<div class="box1 pad1">
				<div class="register">
					<form action="/logincheck" id="myForm" method="POST" enctype="multipart/form-data">
						<div class="box1 boxinputform">
							<div class="inputform">
								<input id="email" name="email" type="text" placeholder="E-mail" th:value="${email}" required> <input id="clave"
									name="clave" type="password" placeholder="Clave" th:value="${clave}" required>
							</div>
						</div>
						<div>
							<a href="/clave/solicitud" class="btnwhite" style="float: left;">Olvidaste tu contraseña?</a>
							<button class="btnwhite" value="Submit" style="float: left;">INGRESAR</button>
						</div>
					</form>
				</div>
			</div>

		</div>
		<!-- #contenedor ==== -->
	</div>
	<!-- #pantalla ==== -->
	<!--  JavaScripts ============================================= -->
	<script src="js/funcion.js"></script>

</body>

</html>